:root {
	--color-contact-error: #c80000;
	--color-contact-success: #237723;
	--input-width: 100%;
	--input-font-size: 1.25rem;
}

.error,
.success {
	width: var(--input-width);
	padding: .5em 1em;
	border-radius: 10px;
	border: 5px solid transparent;
	font-size: var(--input-font-size);
	font-weight: bold;
	margin: 1em 0;
}

.error{
    border-color: var(--color-contact-error);
    color:var(--color-contact-error);
}
 
.success{
    border-color: var(--color-contact-success);
    color: var(--color-contact-success);
}

label {
	display: block;
	font-weight: bold;
}

label + input,
label + textarea {
	margin-bottom: 1em;
}

.required::after {
	content: ' *';
	font-weight: bold;
	color: var(--color-contact-error);
}

input:not([type=submit]) {
	font-size: var(--input-font-size);
	width: var(--input-width);
	padding: .5em 1em;
}

input[type=submit] {
	display: block;
	padding: .75em 1.5em;
	border-radius: .3em;
	font-size: var(--input-font-size);
	color: black;
	background: white;
	transition: all .25s ease-in-out;
	cursor: pointer;

	&:hover {
		color: white;
		background: black;
	}

	&.disabled {
		color: black;
		background: white;
		opacity: .3;
		cursor: unset;
	}
}

textarea {
	font-size: var(--input-font-size);
	width: var(--input-width);
	height: 10ch;
	padding: .5em 1em;
}

.captcha-div {
	display: flex;
	gap: 1em;
	align-items: center;

	& span {
		font-size: 2.5rem;
		line-height: .5;
		color: #aaa;
		cursor: pointer;
		transition: all .5s ease-in-out;
		transform-origin: center right;

		&:hover {
			color: blue;
			transform: rotate(-360deg);
		}
	}
}