div.education {
	margin-top: 0;
	margin-bottom: .8em;
	padding-top: 0;
	padding-bottom: 0;
}

.admin-bar .education-title,
.admin-bar .skills-title,
.admin-bar .work-experience-title,
.admin-bar .activities-title {
	padding-top: 46px;
}

.education-title,
.skills-title,
.work-experience-title,
.activities-title {
	display: flex;
	flex-direction: column;
}

.education-title span,
.skills-title span,
.work-experience-title span,
.activities-title span {
	font-size: .75rem;
	margin-bottom: 1em;
}

.education,
.job {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	line-height: 1.4;
}

.job-company {
	display: flex;
	flex-direction: column;
}

.job-date {
	margin-bottom: 1em;
}

.job-content p,
.project-content p,
.skill-content p {
	margin-bottom: 1em;;
	line-height: 1.5;
}

.activity-divider,
.education-divider,
.job-divider,
.project-divider {
	width: 100%;
	margin: 1em auto;
	border-bottom-color: #ccc;
}

@media (min-width: 768px) {

	.admin-bar .education-title,
	.admin-bar .skills-title,
	.admin-bar .work-experience-title,
	.admin-bar .activities-title {
		padding-top: 32px;
	}
	
	.education-title,
	.skills-title,
	.work-experience-title,
	.activities-title {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
	}

	.education-title span,
	.skills-title span,
	.work-experience-title span,
	.activities-title span {
		margin-bottom: 0;
	}


	div.education {
		margin-bottom: .25em;
	}

	.education {
		flex-direction: row;
		gap: .5em;
	}

	.education-divider {
		display: none;
	}

	.education-course::before {
		content: '🞛 ';
	}

	.education-course::after,
	.education-institution::after {
		content: ', ';
	}

	.job-company {
		flex-direction: row;
	}

}