.education-section,
.skills-section,
.work-experience-section,
.activities-section,
.plugins-section,
.projects-section,
.additional-seminars {
	margin: 1em;
}

.education-title,
.skills-title,
.work-experience-title,
.activities-title {
	display: flex;
	flex-direction: column;
}

.admin-bar .education-title,
.admin-bar .skills-title,
.admin-bar .work-experience-title,
.admin-bar .activities-title {
	padding-top: 46px;
}

.education-title span,
.skills-title span,
.work-experience-title span,
.activities-title span {
	font-size: .75rem;
	margin-bottom: 1em;
}

.education,
.skill,
.job,
.activity,
.project,
.plugin {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	line-height: 1.4;
	margin-bottom: .8em;
}

.job-company {
	display: flex;
	flex-direction: column;
}

.job-date,
.activity-date {
	margin-bottom: 1em;
}

.job-content p,
.project-content p,
.skill-content p {
	margin-bottom: 1em;;
	line-height: 1.5;
}

.activity-divider,
.skill-divider,
.education-divider,
.job-divider,
.project-divider,
.plugin-divider {
	width: 100%;
	margin: 1em auto;
	height: 1px;
	background-color: #ccc;
}

@media (min-width: 768px) {

	.education-section,
	.skills-section,
	.work-experience-section,
	.activities-section {
		margin: 1em 2em;
	}
	
	.admin-bar .education-title,
	.admin-bar .skills-title,
	.admin-bar .work-experience-title,
	.admin-bar .activities-title {
		padding-top: 32px;
	}
	
	.education-title,
	.skills-title,
	.work-experience-title,
	.activities-title {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
	}

	.education-title span,
	.skills-title span,
	.work-experience-title span,
	.activities-title span {
		margin-bottom: 0;
	}

	.education {
		flex-direction: row;
		gap: .5em;
		margin-bottom: .25em;
	}

	.education-divider,
	.skill-divider,
	.job-divider,
	.activity-divider,
	.project-divider,
	.plugin-divider {
		display: none;
	}

	.education-course::before {
		content: '🞛 ';
	}

	.education-course::after,
	.education-institution::after {
		content: ', ';
	}

	.job-company {
		flex-direction: row;
	}

}