input#start:not(:valid) {
	border: 5px solid red;
}

.width-100 {
	width: 100%;
}

.input-label {
	margin-bottom: 1em;
	font-weight: 700;
	font-size: .7rem;
	text-transform: uppercase;
}

.quick-edit-inline {
	display: inline-block;
}

.quick-edit-block {
	display: block;
}